email signature delimiter line is deprived of the trailing space

**RainLoop version, browser, OS:**
Rainloop 1.13.0 (as a plugin of Nextcloud 16.0.7), Chrome 79.0.3945.88, MacOS 10.14.6

**Expected behavior and actual behavior:**
Expected: A configured email signature is appended as is with the signature delimiter "-- ".
Actual: The signature is appended, but the delimiter is deprived of the trailing space: "--".

**Steps to reproduce the problem:**
1. Define an email signature with signature delimiter line consisting of "-- " as per RFC 3676 section 4.3.
2. Compose a new email, check for the trailing space in the signature delimiter line.
3. Send this email to yourself and check for the trailing space in the signature delimiter line in the received email.

**Logs or screenshots:**
n/a

**Result:**
email readers are unable to interpret this line to distinguish the email content from the signature.
