SCRAM-SHA-1(-PLUS) + SCRAM-SHA-256(-PLUS) supports

"When using the SASL SCRAM mechanism, the SCRAM-SHA-256-PLUS variant SHOULD be preferred over the SCRAM-SHA-256 variant, and SHA-256 variants [RFC7677] SHOULD be preferred over SHA-1 variants [RFC5802]".

Can you add support for?
- SCRAM-SHA-1(-PLUS):
-- https://tools.ietf.org/html/rfc5802
-- https://tools.ietf.org/html/rfc6120

- SCRAM-SHA-256(-PLUS):
-- https://tools.ietf.org/html/rfc7677 since 2015-11-02
-- https://tools.ietf.org/html/rfc8600 since 2019-06-21: https://mailarchive.ietf.org/arch/msg/ietf-announce/suJMmeMhuAOmGn_PJYgX5Vm8lNA

LDAP:
- RFC5803: Lightweight Directory Access Protocol (LDAP) Schema for Storing Salted: Challenge Response Authentication Mechanism (SCRAM) Secrets: https://tools.ietf.org/html/rfc5803

I add SCRAM-SHA-512(-PLUS): https://xmpp.org/extensions/inbox/hash-recommendations.html

Linked to:
- https://github.com/scram-xmpp/info/issues/1

@the-djmaze: Thanks for your work!

I have seen today, your commit in SnappyMail!

Maybe you can do a PR for RainLoop?

@the-djmaze: I have edited the ticket with more informations (TLS Binding: -PLUS variants and other SCRAM...).

If you are ready to add SCRAM-SHA-512 and SCRAM-SHA3-512 in SnappyMail, you can ^^

I have added SnappyMail in the https://github.com/scram-xmpp/info/issues/1.

@the-djmaze: Recently SCRAM hashes have been added in:
- https://github.com/pear/Auth_SASL
- https://github.com/pear/Auth_SASL2
- https://github.com/pear/Net_SMTP

A good job done by @schengawegga.

Maybe you can help for -PLUS variants?

And for repositories:
- https://github.com/pear/Net_Sieve
- https://github.com/pear/Net_IMAP
- https://github.com/pear/Mail_IMAPv2
- https://github.com/pear/Net_POP3
- https://github.com/pear/Mail
- https://github.com/pear/Mail2
- https://github.com/pear/Auth
- https://github.com/pear/Auth_HTTP